main{
    text-align: center;
}
nav{
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    /* padding-bottom: 0; */
}
.gauche{
    display: flex;
    flex-direction: row;
}
.gauche>p{
    color: #3498db;
    margin-left: 5px;
    padding-top: 5px;
    font-weight: bolder;
}
.droite{
    margin-top: 16px;
    padding-top: 5px;
}
.droite>a{
    text-decoration: none;
    color: #3498db;
    margin-right: 4px;
}
.get{
    background-color: #3498db;
    width: 100%;
    height: 120px;
}
.get>h1{
    color: white;
}
p{
    color: #2980b9;
}
.two{
    display: flex;
    justify-content: center;
}
button {
    background-color: #2980b9 ;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}
table{
    width:70%;
    margin: 0 auto;
}
table,
td {
    border: 1px solid #333;
    border-collapse:collapse;
}
thead,
tfoot {
    border: 1px solid #333;
    background-color: #2980b9;
    color: #fff;
}
footer{
    background-color: #3498db;
    padding-top: 10px;
    height: 70px;
    margin-top: 55px;
}
footer>p{
    color: white;
    text-align: center;
    padding: 4px 0;
}