header>div{
    display: flex;
    flex-direction: column;
}
header>div>a{
    flex-direction: column;
    padding: 4%;
}
header>section{
    display: flex;
    flex-direction: column-reverse;
    padding:0;
    margin: 0;
}
header>section>p{
    display: flex;
    justify-content: flex-start;
}
.logo{
    padding: 5% 40%;
}
.panier{
    display: none;
}
main>div:first-child, main>div:nth-child(2){
    display: none;
}
.selection2{
    display: flex;
    flex-direction: column;
}
main>section{
    margin: 0;
}
main>div{
    margin: 0;
}
footer>div{
    display: flex;
    flex-direction: row;
}
.sect2{
    display: flex;
    flex-direction: column;
}
.sect2>div{
    display: flex;
    flex-direction: column;
}