<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Assets/css/current.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

    <title>Current</title>
</head>

<body>
    <header>
        <nav>
            <section class="gauche">
                <img src="../Assets/img/logo.png" alt="" />
                <p> Weather App</p>
            </section>
            <section class="droite">
                <a href="">Current</a>
                <a href="">ForeCast</a>
                <a href="">Open Weather Map</a>
            </section>
        </nav>
    </header>
    <main>
        <div class="get">
            <h1>Get Current Weather Information</h1>
        </div>
        <p>Enter City Name</p>
        <div class="two">
            <input type="text" id="name" name="name">
            <button>Search City</button>
        </div>
        <div class="blue">

        </div>
    </main>
    <footer>
        <p>Copyright Weather App</p>
    </footer>
    <script src="../Assets/js/current.js"></script>
</body>

</html>