<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../Assets/css/headerfooter.css">
    <link type="text/css" rel="stylesheet" href="../Assets/css/styleabout.css">
    <link rel="stylesheet" media="screen and (max-width:767px)" href="../Assets/css/styleaboutsmart.css" />
    <link rel="stylesheet" media="screen and (min-width:768px) and (max-width:1023px)" href="../Assets/css/styleabouttab.css" />
    <link rel="stylesheet" media="screen and (min-width:1024px)" href="../Assets/css/styleaboutd.css" />
    <title>About</title>
</head>
<body>
    <header>
        <p class="liv">Livraison offerte à partir de 65$ d'achat !</p>
        <img class="meilleur" src="../Assets/img/ribbon.svg" alt="" />
        <section>
            <img class="logo" src="../Assets/img/logo.png" alt="" />
            <p><span class="panier">Mon panier</span><i class="fas fa-shopping-cart"></i> 42,00$</p>
        </section>
        <div>
            <a href="">THES</a>
            <a href="">GRANDS CRUS</a>
            <a href="">ACCESSOIRES</a>
            <a href="">EPICERIE</a>
            <a href="">NOTRE HISTOIRE</a>
        </div>
    </header>
    <main>
        <section>
            <h1>Notre équipe</h1>
            <article>
                <h4>Amélie, fondatrice de Cup Of Tea</h4>
                <img class="amelie" src="../Assets/img/amelie.jpg" alt="" />
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias necessitatibus blanditiis, ipsum
                    assumenda
                    animi provident tempora, soluta perspiciatis harum culpa voluptatem, repellat aspernatur quia magni
                    distinctio cumque ducimus recusandae aut. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Alias ut placeat iste! Accusantium tempore quasi, aspernatur iure delectus exercitationem, at
                    distinctio
                    quisquam harum natus beatae quis modi vero, voluptatum neque? Lorem ipsum dolor sit, amet
                    consectetur
                    adipisicing elit. Eveniet explicabo sit ex eaque ab culpa delectus magnam placeat blanditiis,
                    veritatis
                    rem dolor perspiciatis nulla quisquam expedita repellat iste maiores architecto? Lorem, ipsum dolor
                    sit
                    amet consectetur adipisicing elit. Ullam adipisci incidunt, delectus perspiciatis temporibus
                    cupiditate
                    natus, tempore quaerat quis iure quidem pariatur ad, totam iste explicabo! Tenetur explicabo quasi
                    doloremque! Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi nam officia aliquam
                    minima maxime, temporibus dolorem, similique quia cum consectetur vel ducimus dolor rem natus
                    sapiente
                    reiciendis, blanditiis quisquam cupiditate? Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Ducimus autem culpa laudantium sequi soluta accusamus molestiae eum. Adipisci tempora nisi tenetur
                    assumenda, necessitatibus mollitia odit, nam beatae facere quia numquam!London Lorem ipsum dolor sit
                    amet consectetur adipisicing elit. Iste asperiores explicabo, odio veritatis, similique fugit labore
                    veniam, optio recusandae aspernatur quod fuga enim? Enim minima et, quo ex natus aliquam.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias necessitatibus blanditiis, ipsum
                    assumenda
                    animi provident tempora, soluta perspiciatis harum culpa voluptatem, repellat aspernatur quia magni
                    distinctio cumque ducimus recusandae aut. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Alias ut placeat iste! Accusantium tempore quasi, aspernatur iure delectus exercitationem, at
                    distinctio
                    quisquam harum natus beatae quis modi vero, voluptatum neque? Lorem ipsum dolor sit, amet
                    consectetur
                    adipisicing elit. Eveniet explicabo sit ex eaque ab culpa delectus magnam placeat blanditiis,
                    veritatis
                    rem dolor perspiciatis nulla quisquam expedita repellat iste maiores architecto? Lorem, ipsum dolor
                    sit
                </p>
            </article>
            <article>
                <h4>Xavier, fondateur de Cup Of Tea</h4>
                <img class="Xavier" src="../Assets/img/xavier.jpg" alt="" />
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias necessitatibus blanditiis, ipsum
                    assumenda
                    animi provident tempora, soluta perspiciatis harum culpa voluptatem, repellat aspernatur quia magni
                    distinctio cumque ducimus recusandae aut. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Alias ut placeat iste! Accusantium tempore quasi, aspernatur iure delectus exercitationem, at
                    distinctio
                    quisquam harum natus beatae quis modi vero, voluptatum neque? Lorem ipsum dolor sit, amet
                    consectetur
                    adipisicing elit. Eveniet explicabo sit ex eaque ab culpa delectus magnam placeat blanditiis,
                    veritatis
                    rem dolor perspiciatis nulla quisquam expedita repellat iste maiores architecto? Lorem, ipsum dolor
                    sit
                    amet consectetur adipisicing elit. Ullam adipisci incidunt, delectus perspiciatis temporibus
                    cupiditate
                    natus, tempore quaerat quis iure quidem pariatur ad, totam iste explicabo! Tenetur explicabo quasi
                    doloremque! Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi nam officia aliquam
                    minima maxime, temporibus dolorem, similique quia cum consectetur vel ducimus dolor rem natus
                    sapiente
                    reiciendis, blanditiis quisquam cupiditate? Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Ducimus autem culpa laudantium sequi soluta accusamus molestiae eum. Adipisci tempora nisi tenetur
                    assumenda, necessitatibus mollitia odit, nam beatae facere quia numquam!London Lorem ipsum dolor sit
                    amet consectetur adipisicing elit. Iste asperiores explicabo, odio veritatis, similique fugit labore
                    veniam, optio recusandae aspernatur quod fuga enim? Enim minima et, quo ex natus aliquam.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias necessitatibus blanditiis, ipsum
                    assumenda
                    animi provident tempora, soluta perspiciatis harum culpa voluptatem, repellat aspernatur quia magni
                    distinctio cumque ducimus recusandae aut. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Alias ut placeat iste! Accusantium tempore quasi, aspernatur iure delectus exercitationem, at
                    distinctio
                    quisquam harum natus beatae quis modi vero, voluptatum neque? Lorem ipsum dolor sit, amet
                    consectetur
                    adipisicing elit. Eveniet explicabo sit ex eaque ab culpa delectus magnam placeat blanditiis,
                    veritatis
                </p>
            </article>
        </section>
        <section>
            <h1>Notre Concept</h1>
            <h1> </h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias necessitatibus blanditiis, ipsum
                assumenda
                animi provident tempora, soluta perspiciatis harum culpa voluptatem, repellat aspernatur quia magni
                distinctio cumque ducimus recusandae aut. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Alias ut placeat iste! Accusantium tempore quasi, aspernatur iure delectus exercitationem, at
                distinctio
                quisquam harum natus beatae quis modi vero, voluptatum neque? Lorem ipsum dolor sit, amet
                consectetur
                adipisicing elit. Eveniet explicabo sit ex eaque ab culpa delectus magnam placeat blanditiis,
                veritatis
                rem dolor perspiciatis nulla quisquam expedita repellat iste maiores architecto? Lorem, ipsum dolor
                sit
                amet consectetur adipisicing elit. Ullam adipisci incidunt, delectus perspiciatis temporibus
                cupiditate
                natus, tempore quaerat quis iure quidem pariatur ad, totam iste explicabo! Tenetur explicabo quasi
                doloremque! Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi nam officia aliquam
                minima maxime, temporibus dolorem, similique quia cum consectetur vel ducimus dolor rem natus
                sapiente
            </p>
        </section>
        <section>
        <section class="last">
            <article>
                <img src="../Assets/img/concept/1.svg" alt="">
                <h5>Lorem ipsum</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, veniam qui voluptates, deserunt
                    tempore similique, provident ab excepturi possimus dolorum nemo magnam? Veniam sint est unde!
                    Aliquid officia mollitia numquam.</p>
            </article>
            <article>
                <img src="../Assets/img/concept/2.svg" alt="">
                <h5>Dolor sit</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, veniam qui voluptates, deserunt
                    tempore similique, provident ab excepturi possimus dolorum nemo magnam? Veniam sint est unde!
                    Aliquid officia mollitia numquam.</p>
            </article>
            <article>
                <img src="../Assets/img/concept/1.svg" alt="">
                <h5>Amet</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, veniam qui voluptates, deserunt
                    tempore similique, provident ab excepturi possimus dolorum nemo magnam? Veniam sint est unde!
                    Aliquid officia mollitia numquam.</p>
            </article>
        </section>
        </section>
    </main>
    <footer>
        <div>
            <div><i class="fas fa-lock"></i>
                <p>PAIEMENT SECURISE</p>
            </div>
            <div><i class="fas fa-truck"></i>
                <p>MA LIVRAISON OFFERTE</p>
            </div>
            <div><i class="far fa-money-bill-alt"></i>
                <p>CARTE DE FIDELITE</p>
            </div>
            <div><i class="fas fa-phone"></i>
                <p>SERVICE CLIENT</p>
            </div>
            <div><i class="fas fa-check-circle"></i>
                <p>GARANTIE QUALITE</p>
            </div>
        </div>
        <section class="sect2">
            <div>
                <h5>Cup of tea</h4>
                    <a href="">THES</a>
                    <a href="">GRANDS CRUS</a>
                    <a href="">ACCESSOIRES</a>
                    <a href="">EPICERIE</a>
                    <a href="">NOTRE HISTOIRE</a>
            </div>
            <div>
                <h5>Cup of tea</h4>
                    <a href="">THES</a>
                    <a href="">GRANDS CRUS</a>
                    <a href="">ACCESSOIRES</a>
                    <a href="">EPICERIE</a>
                    <a href="">NOTRE HISTOIRE</a>
            </div>
            <div>
                <h5>Cup of tea</h4>
                    <a href="">THES</a>
                    <a href="">GRANDS CRUS</a>
                    <a href="">ACCESSOIRES</a>
                    <a href="">EPICERIE</a>
                    <a href="">NOTRE HISTOIRE</a>
            </div>
        </section>
        <section class="sect3">
            <img src="https://3wa.ma/wp-content/uploads/2021/07/3WA_Bonne-taille-5.png" alt="LOGO 3WA">
            <p>Cet exercice de <a href="3wa.ma">3W ACADEMY</a> est mis a disposition <a href="3wa.ma">pour l'usage des
                    etudiant, Pas de Rediffusion - Attribution - Pas d'utilisation Commerciale - Pas de Modification -
                    International</a> Les autorisation au-dela du champ de cette license peuvent etre obtenues aupres de
                <a href="mailto: contact@3wa.fr">contact@3wa.fr</a>. Les maquettes on ete realisees par <a
                    href="3wa.ma">Justine Muller</a>
            </p>
        </section>
    </footer>
</body>

</html>