<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../Assets/css/headerfooter.css">
    <link type="text/css" rel="stylesheet" href="../Assets/css/stylelisting.css">
    <link rel="stylesheet" media="screen and (max-width:767px)" href="../Assets/css/stylelistingsmart.css" />
    <link rel="stylesheet" media="screen and (min-width:768px) and (max-width:1023px)" href="../Assets/css/stylelistingtab.css" />
    <link rel="stylesheet" media="screen and (min-width:1024px)" href="../Assets/css/stylelistingd.css" />
    <title>Listing</title>
</head>

<body>
    <header>
        <p class="liv">Livraison offerte à partir de 65$ d'achat !</p>
        <img class="meilleur" src="../Assets/img/ribbon.svg" alt="" />
        <section>
            <img class="logo" src="../Assets/img/logo.png" alt="" />
            <p>Mon panier<i class="fas fa-shopping-cart"></i> 42,00$</p>
        </section>
        <div>
            <a href="">THES</a>
            <a href="">GRANDS CRUS</a>
            <a href="">ACCESSOIRES</a>
            <a href="">EPICERIE</a>
            <a href="">NOTRE HISTOIRE</a>
        </div>
    </header>
    <main>
        <section>
            <div class="premier">
                <img src="../Assets/img/tea/1.jpg" />
                <h4>Thé noir</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum voluptatem obcaecati nam ducimus
                    libero itaque hic vel nesciunt officiis ex voluptas at eum dolore harum, asperiores quasi, aperiam
                    beatae facilis?</p>
            </div>
            <div></div>
            <div></div>
            <section class="selection2">
                <div>
                    <h5>Notre nouveauté</h5>
                    <img src="../Assets/img/product/product1.jpg" alt="" />
                    <p>Thé du Hammam</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem ducimus recusandae ullam
                        accusamus tempore fugit aliquam veniam est amet nulla? Quam, sequi id! Ex repudiandae
                        accusantium
                        sed id. Fugiat, exercitationem!</p>
                    <p>A partir de</p>
                    <p class="prix">8.50$</p>
                    <button class="button">Voir ce produit</button>
                </div>
                <div>
                    <h5>Notre Best-Seller</h5>
                    <img src="../Assets/img/product/product2.jpg" alt="" />
                    <p>Infusion Herboriste</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem ducimus recusandae ullam
                        accusamus tempore fugit aliquam veniam est amet nulla? Quam, sequi id! Ex repudiandae
                        accusantium
                        sed id. Fugiat, exercitationem!</p>
                    <p>A partir de</p>
                    <p class="prix">8.50$</p>
                    <button class="button">Voir ce produit</button>
                </div>
                <div>
                    <h5>Notre coup de coeur</h5>
                    <img src="../Assets/img/product/product3.jpg" alt="" />
                    <p>Blue of London</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem ducimus recusandae ullam
                        accusamus tempore fugit aliquam veniam est amet nulla? Quam, sequi id! Ex repudiandae
                        accusantium
                        sed id. Fugiat, exercitationem!</p>
                    <p>A partir de</p>
                    <p class="prix">8.50$</p>
                    <button class="button">Voir ce produit</button>
                </div>
            </section>
        </section>
        <section>
            <div class="premier">
                <img src="../Assets/img/tea/1.jpg" />
                <h4>Thé noir</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum voluptatem obcaecati nam ducimus
                    libero itaque hic vel nesciunt officiis ex voluptas at eum dolore harum, asperiores quasi,
                    aperiam
                    beatae facilis?</p>
            </div>
            <div></div>
            <div></div>
            <section class="selection2">
                <div>
                    <h5>Notre nouveauté</h5>
                    <img src="../Assets/img/product/product1.jpg" alt="" />
                    <p>Thé du Hammam</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem ducimus recusandae
                        ullam
                        accusamus tempore fugit aliquam veniam est amet nulla? Quam, sequi id! Ex repudiandae
                        accusantium
                        sed id. Fugiat, exercitationem!</p>
                    <p>A partir de</p>
                    <p class="prix">8.50$</p>
                    <button class="button">Voir ce produit</button>
                </div>
                <div>
                    <h5>Notre Best-Seller</h5>
                    <img src="../Assets/img/product/product2.jpg" alt="" />
                    <p>Infusion Herboriste</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem ducimus recusandae
                        ullam
                        accusamus tempore fugit aliquam veniam est amet nulla? Quam, sequi id! Ex repudiandae
                        accusantium
                        sed id. Fugiat, exercitationem!</p>
                    <p>A partir de</p>
                    <p>8.50$</p>
                    <button class="button">Voir ce produit</button>
                </div>
                <div>
                    <h5>Notre coup de coeur</h5>
                    <img src="../Assets/img/product/product3.jpg" alt="" />
                    <p>Blue of London</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem ducimus recusandae
                        ullam
                        accusamus tempore fugit aliquam veniam est amet nulla? Quam, sequi id! Ex repudiandae
                        accusantium
                        sed id. Fugiat, exercitationem!</p>
                    <p>A partir de</p>
                    <p class="prix">8.50$</p>
                    <button class="button">Voir ce produit</button>
                </div>
            </section>
        </section>
        <section>
            <div class="premier">
                <img src="../Assets/img/tea/1.jpg" />
                <h4>Thé noir</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum voluptatem obcaecati nam
                    ducimus
                    libero itaque hic vel nesciunt officiis ex voluptas at eum dolore harum, asperiores quasi,
                    aperiam
                    beatae facilis?</p>
            </div>
            <div></div>
            <div></div>
            <section class="selection2">
                <div>
                    <h5>Notre nouveauté</h5>
                    <img src="../Assets/img/product/product1.jpg" alt="" />
                    <p>Thé du Hammam</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem ducimus
                        recusandae ullam
                        accusamus tempore fugit aliquam veniam est amet nulla? Quam, sequi id! Ex repudiandae
                        accusantium
                        sed id. Fugiat, exercitationem!</p>
                    <p>A partir de</p>
                    <p class="prix">8.50$</p>
                    <button class="button">Voir ce produit</button>
                </div>
                <div>
                    <h5>Notre Best-Seller</h5>
                    <img src="../Assets/img/product/product2.jpg" alt="" />
                    <p>Infusion Herboriste</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem ducimus
                        recusandae ullam
                        accusamus tempore fugit aliquam veniam est amet nulla? Quam, sequi id! Ex repudiandae
                        accusantium
                        sed id. Fugiat, exercitationem!</p>
                    <p>A partir de</p>
                    <p class="prix">8.50$</p>
                    <button class="button">Voir ce produit</button>
                </div>
                <div>
                    <h5>Notre coup de coeur</h5>
                    <img src="../Assets/img/product/product3.jpg" alt="" />
                    <p>Blue of London</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem ducimus
                        recusandae ullam
                        accusamus tempore fugit aliquam veniam est amet nulla? Quam, sequi id! Ex repudiandae
                        accusantium
                        sed id. Fugiat, exercitationem!</p>
                    <p>A partir de</p>
                    <p class="prix">8.50$</p>
                    <button class="button">Voir ce produit</button>
                </div>
            </section>
        </section>
        <section>
            <div class="premier">
                <img src="../Assets/img/tea/1.jpg" />
                <h4>Thé noir</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum voluptatem obcaecati nam
                    ducimus
                    libero itaque hic vel nesciunt officiis ex voluptas at eum dolore harum, asperiores
                    quasi, aperiam
                    beatae facilis?</p>
            </div>
            <div></div>
            <div></div>
            <section class="selection2">
                <div>
                    <h5>Notre nouveauté</h5>
                    <img src="../Assets/img/product/product1.jpg" alt="" />
                    <p>Thé du Hammam</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem ducimus
                        recusandae ullam
                        accusamus tempore fugit aliquam veniam est amet nulla? Quam, sequi id! Ex
                        repudiandae accusantium
                        sed id. Fugiat, exercitationem!</p>
                    <p>A partir de</p>
                    <p class="prix">8.50$</p>
                    <button class="button">Voir ce produit</button>
                </div>
                <div>
                    <h5>Notre Best-Seller</h5>
                    <img src="../Assets/img/product/product2.jpg" alt="" />
                    <p>Infusion Herboriste</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem ducimus
                        recusandae ullam
                        accusamus tempore fugit aliquam veniam est amet nulla? Quam, sequi id! Ex
                        repudiandae accusantium
                        sed id. Fugiat, exercitationem!</p>
                    <p>A partir de</p>
                    <p class="prix">8.50$</p>
                    <button class="button">Voir ce produit</button>
                </div>
                <div>
                    <h5>Notre coup de coeur</h5>
                    <img src="../Assets/img/product/product3.jpg" alt="" />
                    <p>Blue of London</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem ducimus
                        recusandae ullam
                        accusamus tempore fugit aliquam veniam est amet nulla? Quam, sequi id! Ex
                        repudiandae accusantium
                        sed id. Fugiat, exercitationem!</p>
                    <p>A partir de</p>
                    <p class="prix">8.50$</p>
                    <button class="button">Voir ce produit</button>
                </div>
            </section>
        </section>
        <section>
            <div class="premier">
                <img src="../Assets/img/tea/1.jpg" />
                <h4>Thé noir</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum voluptatem obcaecati
                    nam ducimus
                    libero itaque hic vel nesciunt officiis ex voluptas at eum dolore harum, asperiores
                    quasi, aperiam
                    beatae facilis?</p>
            </div>
            <div></div>
            <div></div>
            <section class="selection2">
                <div>
                    <h5>Notre nouveauté</h5>
                    <img src="../Assets/img/product/product1.jpg" alt="" />
                    <p>Thé du Hammam</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem ducimus
                        recusandae ullam
                        accusamus tempore fugit aliquam veniam est amet nulla? Quam, sequi id! Ex
                        repudiandae accusantium
                        sed id. Fugiat, exercitationem!</p>
                    <p>A partir de</p>
                    <p class="prix">8.50$</p>
                    <button class="button">Voir ce produit</button>
                </div>
                <div>
                    <h5>Notre Best-Seller</h5>
                    <img src="../Assets/img/product/product2.jpg" alt="" />
                    <p>Infusion Herboriste</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem ducimus
                        recusandae ullam
                        accusamus tempore fugit aliquam veniam est amet nulla? Quam, sequi id! Ex
                        repudiandae accusantium
                        sed id. Fugiat, exercitationem!</p>
                    <p>A partir de</p>
                    <p class="prix">8.50$</p>
                    <button class="button">Voir ce produit</button>
                </div>
                <div>
                    <h5>Notre coup de coeur</h5>
                    <img src="../Assets/img/product/product3.jpg" alt="" />
                    <p>Blue of London</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem ducimus
                        recusandae ullam
                        accusamus tempore fugit aliquam veniam est amet nulla? Quam, sequi id! Ex
                        repudiandae accusantium
                        sed id. Fugiat, exercitationem!</p>
                    <p>A partir de</p>
                    <p class="prix">8.50$</p>
                    <button class="button">Voir ce produit</button>
                </div>
            </section>
        </section>
    </main>
    <footer>
        <div>
            <div><i class="fas fa-lock"></i>
                <p>PAIEMENT SECURISE</p>
            </div>
            <div><i class="fas fa-truck"></i>
                <p>MA LIVRAISON OFFERTE</p>
            </div>
            <div><i class="far fa-money-bill-alt"></i>
                <p>CARTE DE FIDELITE</p>
            </div>
            <div><i class="fas fa-phone"></i>
                <p>SERVICE CLIENT</p>
            </div>
            <div><i class="fas fa-check-circle"></i>
                <p>GARANTIE QUALITE</p>
            </div>
        </div>
        <section class="sect2">
            <div>
                <h5>Cup of tea</h4>
                    <a href="">THES</a>
                    <a href="">GRANDS CRUS</a>
                    <a href="">ACCESSOIRES</a>
                    <a href="">EPICERIE</a>
                    <a href="">NOTRE HISTOIRE</a>
            </div>
            <div>
                <h5>Cup of tea</h4>
                    <a href="">THES</a>
                    <a href="">GRANDS CRUS</a>
                    <a href="">ACCESSOIRES</a>
                    <a href="">EPICERIE</a>
                    <a href="">NOTRE HISTOIRE</a>
            </div>
            <div>
                <h5>Cup of tea</h4>
                    <a href="">THES</a>
                    <a href="">GRANDS CRUS</a>
                    <a href="">ACCESSOIRES</a>
                    <a href="">EPICERIE</a>
                    <a href="">NOTRE HISTOIRE</a>
            </div>
        </section>
        <section class="sect3">
            <img src="https://3wa.ma/wp-content/uploads/2021/07/3WA_Bonne-taille-5.png" alt="LOGO 3WA">
            <p>Cet exercice de <a href="3wa.ma">3W ACADEMY</a> est mis a disposition <a href="3wa.ma">pour l'usage des
                    etudiant, Pas de Rediffusion - Attribution - Pas d'utilisation Commerciale - Pas de Modification -
                    International</a> Les autorisation au-dela du champ de cette license peuvent etre obtenues aupres de
                <a href="mailto: contact@3wa.fr">contact@3wa.fr</a>. Les maquettes on ete realisees par <a
                    href="3wa.ma">Justine Muller</a>
            </p>
        </section>
    </footer>
</body>

</html>